.popup__close-button {
  width: 40px;
  height: 40px;

  background-image: url(../../../images/close-icon.svg);
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;

  cursor: pointer;
}

.popup__close-button:hover {
  opacity: .6;
  transition: .3s;
}

.popup__close-button:focus {
    transform: rotate(180deg);
    opacity: 0.6;
    transition: .5s;

  }