.cards {
  width: 100%;
  margin-top: 51px;

  grid-area: cards;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 18px;
  row-gap: 21px;
}

@media screen and (max-width: 1279px) {
  .cards {
    column-gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 18px;
  }
}

@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 15px;
  }
}