.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  grid-area: avatar;

  margin-right: 30px;
  align-self: center;

  position: relative;
}

@media screen and (max-width: 500px) {
  .profile__avatar {
    justify-self: center;
    margin: 0;
  }
}