@import url(./__img/card__img.css);
@import url(./__name/card__name.css);
@import url(./__title/card__title.css);
@import url(./__like/card__like.css);
@import url(./__like-button/card__like-button.css);
@import url(./__like-button/_active/card__like-button_active.css);
@import url(./__delete-card/card__delete-card.css);
@import url(./__like-scope/card__like-scope.css);
@import url(./__like/card__like.css);
@import url(./__delete-card/_invisible/card__delete-card_invisible.css);

.card {
  width: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  justify-self: center;

  border-radius: 10px;

  background-color: #fff;
}