.popup__container {
  width: 430px;
  background-color: #fff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 36px;
  box-sizing: border-box;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -165px;
  margin-left: -215px;
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 80%;
    margin: 0;
    top: 40%;
    left: 10%;
  }
}