@media screen and (max-width: 768px) {
  .profile__pencil {
    width: 17px;
    height: 17px;
  }
}

@media screen and (max-width: 500px) {
  .profile__pencil {
    width: 10px;
    height: 10px;
  }
}