@import url(./__caption/photo-popup__caption.css);
@import url(./__image/photo-popup__image.css);
@import url(./__container/photo-popup__container.css);

.photo-popup {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .9);

  position: fixed;
  top: 0;
  left: 0;

  visibility: hidden;
  opacity: 0;
  transition: .2s ease-in;

  z-index: 1000;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}